body{
  margin: 15px;
  padding: 0px;
  background-color: #f2f2f2;
}
.vertical{
  border-left: 4px dashed #ADBECB;
  left: 50%;
  position: absolute;
  height: 1000px;
  margin: 0px;
  top: 42px;
  bottom: 42px;
}
orange{
  color:#FFDC18
}

.left-container{
  width: 50%;
  display: flex;
  flex-direction: column;
}                                                 


.header{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 43px;
  color:#20B0BD;
  text-align: center;
  margin-top:40px;
  margin-left: -5px;
}
.subheader{
  color:gray;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.heading1-q1{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color:#5c5382;
  text-align: left;
  margin-top:20px;
  margin-left:20px;
  
}
.right-image-q1{
  padding-left:300px;
  margin-top:-80px;
  margin-right:50px;
}
.single-line-image-q1{
  /* width:50%; */
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
}
.heading2{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color:#5c5382;
  margin-left: 20px;
  margin-top: 20px;
}
.heading-q3{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color:#5c5382;
  margin: 1% 0% 0% 53.5%;
}
.content-top-right-title1{
  margin: 1% 0% 0% 53.5%;
  color:#20B0BD;
  font-family: Arial, Helvetica, sans-serifS;
  font-size: 30px;
  position:relative;
  top:10px;
}
.content-top-right-title2{
  
  margin: 1% 25% 0% 44%;
  color:#20B0BD;
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serifS;
  position:relative;
  top:15px;
}
.content-top-right-title3{
  font-family: Arial, Helvetica, sans-serifS;
  margin: -75px 0px 0px 1010px;
  text-align: center;
  color:#20B0BD;
  font-size: 30px;
  position: relative;
  right: 360px;
  top:30px;
}
.content-top-right-title4{
  /* margin: 1% 0% 0% 53.5%; */
  margin: 20px 80px 0px 820px;
  color:#20B0BD;
  font-size: 30px;
  
  font-family: Arial, Helvetica, sans-serifS;
  text-align: center;
  position: relative;
  bottom: 60px;
  right: 205px;
  top:-30px;
}
.content-top-right-data1{
  font-family: Arial, Helvetica, sans-serifS;
  font-size: 60px;
  margin: -155px 0px 0px 800px;
  position: relative;
  right: 10px;
  top: 4px;
}
.content-top-right-data2{
  font-family: Arial, Helvetica, sans-serifS;
  font-size: 60px;
    font-size: 50px;
  margin: -60px 0px 0px 900px;
  position: relative;
  right: 30px; 
  top: 20px;
}
.content-top-right-data3{
  font-family: Arial, Helvetica, sans-serifS;
  font-size: 60px;
  font-size: 50px;
  margin: -75px 30px 0px 920px;
  position: relative;
  top: 40px;
  left: -5px; 
  
}
.content-top-right-data4{
  font-family: Arial, Helvetica, sans-serifS;
  font-size: 60px;
  margin: -132px 30px 0px 930px;
  font-size: 50px;
  position:relative;
  top: 42px;
}
.orange500{
  font-weight: bolder;
  font-size: 65px;
  padding:0px;
  margin-top:-10px;
  margin-left:70px;
}
.left-bottom-content-data{
  color: #5c5382;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  
}
.p2{
  color:#20B0BD;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 25px;
}
.p3{
  color:#20B0BD;
  font-family: sans-serif;
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 126px;
}


.button{
  color:white;
  background-color:#20B0BD ;
  text-align: center;
  margin-top:10px;
  margin-left: 19px;
  margin-right: 25px;
  border-left: dashed;
  border-right: dashed;
  width:48%px;
  height: 25px;
  padding-top: 5px;
}
.button-right{
  
  color:white;
  background-color:#20B0BD ;
  text-align: center;
  margin-top:-1000px;
  margin-left: 670px;
  margin-right: 15px;
  border-left: dashed;
  border-right: dashed;
  
  height: 25px;
  padding-top: 5px;
}
.button-right2{
  
  color:white;
  background-color:#20B0BD ;
  text-align: center;
  margin-top:-220px;
  margin-left: 670px;
  margin-right: 15px;
  border-left: dashed;
  border-right: dashed;
  height: 25px;
  padding-top: 5px;
  position: relative;
  top:190px
}

.lb-img1{
  margin-left: 210px;
  margin-top:-125px;
}
.left-bottom-content-title{
  font-size: 25px;
  font-weight: bold;
  margin-left: 205px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.left-bottom-content-title2{
  font-size: 25px;
  font-weight: bold;
  margin-left: 205px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.left-bottom-content-title3{
  font-size: 25px;
  font-weight: bold;
  margin-left: 205px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.left-bottom-content-data{
  font-size: 50px;
  font-weight: lighter;
  margin-left: 205px;
}
.img2-lb{
  margin-left:320px;
  margin-top:-75px;
}
.img3-lb{
  margin-left:320px;
  margin-top:-60px;
  
}
.img4-lb{
  margin-top:-60px;
  
  margin-left:320px;
}

.right-top1{
  padding-left: 80%;
  padding-top: -10%;
  position:relative;
  top:-80px;
  left: -40px;
}
.right-top2{
  padding-left: 80%;
  padding-top: -10%;
  position:relative;
  top:-70px; 
  right:0px;
}
.right-top3{
  padding-left: 80%;
  padding-top: -10%;
  position:relative;
  top:-40px;
  right:-45px;
}
.right-top4{
  padding-left: 80%;
  padding-top: -10%;
  position:relative;
  top:-50px;
  right:-45px;
}
  
  .right-bottom{
    display:flex;
    width: 40%;
    margin: 20% 5% 0% 52%;
  }
  .right-bottom-image{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: -5% 5% 0% 0%;

  
}
.content-right-bottom-title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  color:#5c5382;
  margin: 0% 0% 0% 0%;
}
.content-right-bottom-data{
  font-family: sans-serif;
  /* font-weight: bold; */
  font-size: 25px;
  color:#5c5382;
  margin: 0% 0% 0% 0%;
}
.right-bottom-text{
  margin: 0% 0% 10% 0%;
  color:#20B0BD;  
}